<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="font-size:18px;"href="/">Home</a></li>
                </ul>
                    <ul>
                      <a style="text-align: center; color:rgb(50, 103, 216);" class="navbar-brand" href="/pitch/new/"> Post Pitches </a>
                      </ul>
                     
            

       
         <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a  style="color:rgb(50, 103, 216);" href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
        <li ><a  style="color:rgb(50, 103, 216);" href="{{url_for('auth.logout')}}">Sign out</a></li>
        {% else %}
        <li ><a   style="color:rgb(50, 103, 216);"href="{{url_for('auth.login')}}">Sign in</a></li>
        {%endif%}
      </ul>
    </div> 
       <ul> 
        <h1 style="margin-top:200px;text-align:center; text-transform:capitalize;color:rgb(50, 103, 216);font-size:62px;font-family:'Sacramento', cursive; ">Welcome to PitchApp </h1>
      </ul>
    </div>
    </div>
    
    
